body {
	background-color: #ffcc66;

}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="submit"],
input[type="button"],
button,
.ba-button {
	display: inline-block;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover {}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {}

textarea {}

/* Layout */
.checkers {
	height: 80vh;
	width: 80vh;
	background-color: azure;
	border: solid black 20px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;

}

.cell {
	width: 50%;
	height: 100%;
	position: absolute;
	background-color: #ffcc66;
	top: 0;
	left: 0;
}

.half {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
}

.half:nth-child(2) {
	top: 50%;
}
.quarter{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
}
.quarter:nth-child(2){
	top: 50%;
}
.eighth{
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
}
.eighth:nth-child(2){
	left: 50%;
}
.sixteenth{
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;

}
.sixteenth:nth-child(2){
	left: 50%;
}
.row{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
}
.row:nth-child(2){
top: 50%;
}
.row:nth-child(2) .cell{
	left:50%;
}